<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>サンプル</title>
  <link rel="stylesheet" href="/public/third_party/css/bootstrap.min.css">
</head>
<body>
  <%# インクルードファイルへデータを引き渡す %> 
  <div class="container">
    <h1>サンプル</h1>
    <p>Node.js x Express</p>
  </div>
</body>
</html>